* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.geral {
  background-image: url(imagens/cartas.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.max-width {
  width: 100%;
  max-width: 120rem;
  padding: 0 4rem;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.navbar {
  z-index: 10;
  padding: 3rem 4rem 1rem;
  display: flex;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  padding: 1rem;
  color: white;
  text-align: right;
}

.navbar a:hover {
  color: red;
}

header {
  display: flex;
  margin: 0;
}

header .header h1 {
  font-weight: bold;
  color: white;
  font-size: 3rem;
}

header .header p {
  color: white;
  margin-top: 1rem;
  margin-bottom: 4rem;
  max-width: 50rem;
  font-size: 1rem;
}

header .header h2 {
  color: white;
  text-align: center;
  margin: 20px 700px 20px
}

.btn {
  background-color: white;
  border: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 0.5rem;
  color: red;
  font-weight: 400;
  font-size: 1rem;
}

.colecionaveis .itens {
  text-align: center;
  margin: 0 auto 6rem;
}

.colecionaveis .itens h2 {
  font-size: 3rem;
}

.colecionaveis .itens p { 
  font-size: 1.5rem;
}

.colecionaveis ul li {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.colecionaveis ul li .imagem {
  width: 100%;
  min-width: 40rem;
  max-width: 47rem;
  height: auto;
}

.colecionaveis ul li .itens_info {
  max-width: 200rem;
  text-align: left;
}

.colecionaveis ul li .itens_info h3 {
  font-size: 3.2rem;
  font-weight: 500;
}